.container {
  max-width: 1920px;
  width: 100%;
  padding: 120px 50px;
  display: flex;
  justify-content: center;
  background-color: var(--background);
}
.content {
  align-items: center !important;
  max-width: 1000px !important;
  width: 100%;
}
.content h2,
.content h3 {
  text-align: center;
}
.testimonial {
  margin-top: 20px;
}
.testimonial-card {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-height: 500px !important;
}
.testimonial-card p {
  margin-top: 30px;
  text-align: center;
}
.testimonial-card img {
  margin-top: 20px;
}
.testimonial-card img:last-of-type {
  margin-top: 50px;
  width: 80px;
}

@media only screen and (max-width: 768px) and (min-width: 481px) {
  .content h2 {
    margin-top: 20px;
    text-align: center;
    line-height: 1.2em;
  }
}
@media only screen and (max-width: 480px) and (min-width: 320px) {
  /* .testimonial-card img:last-of-type {
    margin-top: 50px;
    width: 80px;
  } */
  .container {
    padding: 80px 30px !important;
  }
}
